*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

img{
    width: 100%;
}


.wrapper{
    margin: 0 auto;
    max-width:960px;
}

.third{
    float:left;
    width: 33%;
    
}

body {
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 3px;
}

body h1{
    color: #99CCFF;
    font-family: georgia, serif;
    font-size:36px;
    margin: 10px 0 3px 0;
}

body h2{
    color: #686868;
    font-family: arial narrow, sans-serif;
    
}

p {
    margin: 4px 0 16px 5;
}


header {
 background-color: #686868;
 color: #99CCFF;
 height: 50px;
 margin-bottom: 10px;   
}

header h1 {
    float: left;
    font-family: georgia, serif;
    margin-top: 2px;
    color: #99CCFF;
    font-size: 25px;
    font-weight:400;
    padding: 10px;
}

header nav {
    float: left;
    margin-top: 15px;
    color: #000000;
    font-family: georgia, serif;
    font-size: 16px;
    display:inline-block;
}

#content{
    background-color:gray;
    border: 1px solid red;
    margin-left: 35%;
    width: 65%
}

a {
    color: #aaaaaa;
}

header a{
    color:#aaaaaa;
    margin-right: 20px;
    text-decoration:none;
}

header a:hover {
    color: #ffffff;
}

header a:active {
    text-decoration: underline;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px
    line-height: 44px;
}

article h2{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}


aside{
    float: left;
    margin-right: 3%;
    
}

footer {
    clear: both;
    background-color:#aaaaaa;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

footer ul{
    list-style-type: none;
}

@media screen (max-width: 600px) {
    
    body{
        padding: 3%;
        
    }
    
    nav{
        width: 100%;
       
    }
    
    nav li{
        display: inline;
    }
    
    #content { 
        width: 90%;
        clear: left;
        margin-left: 0;
}



